# Ignore Python cache and virtual env
__pycache__/
*.pyc
.venv/
.env/
*.db

# Ignore datasets and heavy model files
models/
*.onnx
*.h5
# Ignore build and system files
dist/
build/
*.spec
.DS_Store
Thumbs.db
